<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="mt-auto text-white-50" th:fragment="footer">
    <div sec:authorize="isAuthenticated()">
        Your username:
        <div sec:authentication="name"></div>
        Your role and privileges:
        <span class="badge bg-info" sec:authentication="principal.authorities"></span>
    </div>

    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>

</body>
</html>