<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<div layout:fragment="main-content">
 <h1>
     Welcome to leases catalogue system!
 </h1>
    <p sec:authorize="!hasRole('ADMIN')" >
        You do not have access here
    </p>
</div>
</body>
</html>